# Byte-compiled / Cached files
__pycache__/
*.py[cod]
*.so

# Distribution / Packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/

# Logs and temporary files
*.log
.DS_Store
Thumbs.db
